.person-content {
  letter-spacing: -0.3em;
  background-color: #ededed;
  box-shadow: 0px 0px 1px black;
}

.person-view {
  letter-spacing: normal;
  width: 350px;
  height: inherit;
  background-color: #ffffff;
  margin-right: 24px;
  display: inline-block;
  vertical-align: top;
}

.person {
  margin: 20px 0;
}

.person-view p{
  margin: 40px 0 10px 20px;
  padding: 0;
  font-size: 24px;
  font-family: helvetica;
  font-weight: bold;
  color: #121212;
  text-align: center;
}

.person-view img {
  padding: 0 20px;
  height: 310px;
  width: 310px;
  vertical-align: middle;
}

.mini-photos {
  letter-spacing: -0.3em;
  margin-top: 10px;
}

.mini-photos img {
  letter-spacing: normal;
  width: 80px;
  height: 80px;
  display: inline-block;
  margin: 0 15px 0 0;
  padding: 0;
}

.mini-photos img:first-child {
  margin-left: 40px;
}

.person-view input {
  margin: 20px 0 0 20px;
  width: 310px;
  background-color: #1d1d1d;
  color: #ececec;
}

.person-info {
  letter-spacing: normal;
  width: 826px;
  height: inherit;
  background-color: #ffffff;
  display: inline-block;
}

.account {
  margin: 40px 20px 0 20px;
  width: 786px;
}

.account p {
  padding: 0 0 0 10px;
  display: block;
  background-color: #1d1d1d;
  color: #d1d1d1;
  font-size: 24px;
  font-family: helvetica;
  font-weight: bold;
  margin-bottom: 10px;
;
}

.row {
  display: block;
  height: 52px;
  background-color: #f2f2f2;
  border-bottom: 2px solid #e7e7e7;
  padding-left: 10px;
  padding-top: 8px;
  vertical-align: bottom;
}

.row i{
  font-size: 40px;
}

.row i:hover {
  color: rgb(221, 199, 55);
}

.row:last-child {
  height: 85px;
}

.person-info input {
  border-width: 2px;
}

.person-info input[type="text"], .person-info input[type="password"] {
  height: 42px;
  width: 300px;
  font-size: 20px;
  padding: 0 0 0 10px;
  margin-top: 4px;
  background-color: inherit;
  border: 0;
  text-align: right;
}

.person-info input[type="submit"] {
  background-color: #364654;
  color:#e6e8ea;
  border-width: 0;
  border-radius: 5px;
  font-size: 22px;
  padding: 7px;
  width: 250px;
  margin: 20px 0 0 256px;
}

.person-info label {
  font-size: 23px;
  margin: 0 7px;
  width: 220px;
  display: inline-block;
  text-align: right;
  font-weight: bold;
  color:#243645;

}

#cost-before {
  text-decoration: line-through;
  font-size: 25px;
  font-weight: bold;

}

#cost-after {
 color: rgb(209, 46, 41);
 font-size: 25px;
 font-weight: bold;
}

a {
  text-decoration: underline;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: #385a77;
}
